div.center {
    display: flex;
    justify-content: center;
}

.mat-card {
    display: inline-block;
}

.mat-form-field {
    display: block;
    width: 30em;
}

.mat-card-actions {
    display: flex;
    justify-content: right;
    padding-right: 1em;
}

.mat-card-title {
    font-weight: bold;
    font-size: 1.2em;
}
