.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

table {
    width: 100%;
}

.mat-row:hover {
    background-color: #eee;
    cursor: pointer;
}

.mat-column-id {
    flex: 0 0 200px;
}

#datefield {
    width: 20%;
}
